* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* start header */
body {
    background-color: #07081A;
}
a {
    text-decoration: none;
    color: #FFF;
}

ul {
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #07081A;
    border-bottom: 1px solid #261C51;
}
.h-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    width: 100%;
}

.h-ul ul {
    display: flex;
    align-content: center;
    gap: 16px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
}
a:hover {
    color: #8CE900;
}
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo span {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
}
.header-wrapper {
    display: flex;
    justify-content: center;
    padding: 28px 200px 0px 200px;
}
/* end header */
/* start main */
main {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 64px;
}
.maincontainertwo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.herocontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    width: 100%;
}
.herocontainer div h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    line-height: 52px;
    text-transform: capitalize;
}
/* main part 2 */
.main-second-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1040px;
    width: 100%;
    background-color: #242642;
    padding: 40px 72px;
}
.min-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1040px;
    width: 100%;
}
.min-wrapper-h2 {
    color: #8CE900;
    font-size: 56px;
    font-weight: 500;
    line-height: 60px
}

.min-wrapper-span {
    color: #C0C0C0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}
.main-c {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1040px;
    width: 100%;
}
/* footer */
.footer-part-one {
    display: flex;
    flex-direction: column;
}
.f-back {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1040px;
    width: 100%;
    gap: 254px;
}
.footer-span {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    gap: 8px;
}
.footer-second-span {
    color: #C0C0C0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}
.footer-part-three {
    display: flex;
    flex-direction: column;
}
.footer-part-two {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
}
.footer-part-three {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;  
    text-transform: capitalize;
}